<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @store.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @store.info %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @store.tel %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
